[back](./10-getting-dataframe-elements.ipynb)

---
### `Getting DataFrames elements based on columns`

In [1]:
# Importing pandas and numpy

import pandas as pd
import numpy as np

In [2]:
# Creating data-set

df = pd.DataFrame({'col1': {'row1': 1, 'row2': 4, 'row3': 7},
                  'col2': {'row1': 2, 'row2': 5, 'row3': 8},
                   'col3': {'row1': 3, 'row2': 6, 'row3': 9}})

def divider():
  print('-'*80)

def print_df():
  print(df)
  divider()

print_df()

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9
--------------------------------------------------------------------------------

In [3]:
# Get an entire column from a DataFrame

# We can't pass the index as we have column labels assigned
col1 = df['col1']
print('Column 1 from the DataFrame')
print(col1)
divider()
# Type will be a Pandas Series
print('Type of col1:')
print(type(col1))

Column 1 from the DataFrame
row1    1
row2    4
row3    7
Name: col1, dtype: int64
--------------------------------------------------------------------------------
Type of col1:
<class 'pandas.core.series.Series'>

In [4]:
# Get an entire column from a DataFrame, using default methods

col1 = df.col1
print('Column 1 from DataFrame using df.col1:')
print(col1)
divider()
col1 = df.get('col1')
print('Column 1 from DataFrame using df.get(\'col1\'):')
print(col1)

# NOTE: above methods will not work for fetching rows
divider()
col1 = df.get('row1')
print('Row 1 from DataFrame using df.get(\'row1\'):')
print(col1)

Column 1 from DataFrame using df.col1:
row1    1
row2    4
row3    7
Name: col1, dtype: int64
--------------------------------------------------------------------------------
Column 1 from DataFrame using df.get('col1'):
row1    1
row2    4
row3    7
Name: col1, dtype: int64
--------------------------------------------------------------------------------
Row 1 from DataFrame using df.get('row1'):
None


---
[next]()