[back](./10D-slicing-dataframes.ipynb)

---
### `Getting DataFrame elements based on boolean`

In [1]:
# Importing pandas

import pandas as pd

In [2]:
# Creating data-set

df = pd.DataFrame({'col1': {'row1': 1, 'row2': 4, 'row3': 7},
                  'col2': {'row1': 2, 'row3': 5, 'row4': 8},
                   'col3': {'row1': 3, 'row2': 6, 'row4': 9}})

def divider():
  print('-'*80)

def print_df():
  print(df)
  divider()

print_df()

      col1  col2  col3
row1   1.0   2.0   3.0
row2   4.0   NaN   6.0
row3   7.0   5.0   NaN
row4   NaN   8.0   9.0
--------------------------------------------------------------------------------

In [3]:
# Items from a specific column that is greater than a specific value

print('Original DataFrame:')
print_df()

df_filtered = df[df['col1'] > 1]
print('DataFrame filtered as col1 > 1:')
print(df_filtered)
divider()

Original DataFrame:
      col1  col2  col3
row1   1.0   2.0   3.0
row2   4.0   NaN   6.0
row3   7.0   5.0   NaN
row4   NaN   8.0   9.0
--------------------------------------------------------------------------------
DataFrame filtered as col1 > 1:
      col1  col2  col3
row2   4.0   NaN   6.0
row3   7.0   5.0   NaN
--------------------------------------------------------------------------------

In [4]:
# DataFrame, filtered where the data in column 2 is less than or equal to 5

print('Original DataFrame:')
print_df()

df_filtered = df[df['col2'] <= 5]
print('DataFrame filtered as col2 <= 5:')
print(df_filtered)
divider()

# NOTE: Similar check cannot be applied to ROWS with .loc or .iloc

Original DataFrame:
      col1  col2  col3
row1   1.0   2.0   3.0
row2   4.0   NaN   6.0
row3   7.0   5.0   NaN
row4   NaN   8.0   9.0
--------------------------------------------------------------------------------
DataFrame filtered as col2 <= 5:
      col1  col2  col3
row1   1.0   2.0   3.0
row3   7.0   5.0   NaN
--------------------------------------------------------------------------------

In [5]:
# Functions that help to retrieve first N or last N rows of a DataFrame

# Head - First N rows
# Returns first 5 by default
n_rows = df.head(2)
print('First two rows of a DataFrame using .head():')
print(n_rows)
divider()

First two rows of a DataFrame using .head():
      col1  col2  col3
row1   1.0   2.0   3.0
row2   4.0   NaN   6.0
--------------------------------------------------------------------------------

In [6]:
# Tail - Last N rows
# Returns last 5 by default
n_rows = df.tail(2)
print('Last two rows of a DataFrame using .tail():')
print(n_rows)
divider()

Last two rows of a DataFrame using .tail():
      col1  col2  col3
row3   7.0   5.0   NaN
row4   NaN   8.0   9.0
--------------------------------------------------------------------------------


---
[next]()